@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;800&family=Oswald:wght@300;400;600&display=swap');

/* ROOT */

:root {
    --color_1: #072D56;
    --padding-container: 100px 0;
    --color_botomm_1: 
    #FF4820;
}

/* BODY */

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--color_1);
}

/* CONTAINER */

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

/* HERO */

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

/* NAV */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}


.nav__close {
    display: var(--show, none);
}

.cta_1{
    justify-self: center;
    color: #fff;
    text-decoration: none;
    
} 

.cta_2{
    background-color: var(--color_botomm_1);
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 2px;
}

.cta_1{
    justify-self: center;
    color: #fff;
    text-decoration: none;
    
}
